body, html
{
	background-color: red;
}

.CardText {
	font-size: 3rem;
}

.Button 
{
	background-color: lightcoral;
	font-size: 4rem;
}

.Label
{
	font-size: 4rem;
}
.Button:hover
{
	background-color: red;
}

.NoGrabHighlight
{
	background-color: white;
}

.InRangeHighlight
{
	background-color: lightblue;
}

.GrabbedHighlight
{
	background-color: blue;
}
